body {
  display: flex;
  flex-direction: column;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
}

* {
  margin-top: 0;
}

*[hidden] {
  display: none !important;
}

main {
  background: hsl(115, 30%, 55%);
  flex: 1;
  padding: 2rem;
}

main h1 {
  margin-top: 0;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

#search {
  font-family: inherit;
  font-size: 4rem;
  font-weight: bold;
}

/* Inspector */

#inspector {
  background: hsla(0, 0%, 0%, 20%);
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
}

#inspector div {
  background: white;
  border-bottom: 1px solid gray;;
  box-shadow: 0 0 1rem hsla(0, 0%, 0%, 40%);
  display: grid;
  gap: 1rem;
  margin: 1rem;
  max-width: 30rem;
  padding: 2rem;
  position: fixed;
}

#inspector div [role="img"] {
  font-size: 5rem;
  grid-row-start: 1;
  grid-row-end: span 3;
  text-align: center;
}

#inspector div > * {
  margin: 0;
}

#inspector div::after {
  --size: 48px;
  display: grid;
  content: "✕";
  color: hsl(0, 0%, 75%);
  font-size: 2rem;
  height: var(--size);
  place-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--size);
}

/* Journal */

#journal {
  background: white;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

#journal h2 {
  margin: 0;
}

#journal table {
  width: 100%;
}

#journal th {
  text-align: left;
}

#journal td, #journal th {
  padding: 0.5rem;
}

#journal table tr {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 3rem repeat(2, 1fr);
}

#journal tbody tr:nth-child(odd) {
  background: whitesmoke;
}

#journal td.image {
  font-size: 2rem;
}

#journal td.name {
  text-transform: capitalize;
}